@page
@model Mission9.Pages.PurchaseCompletedModel
@{
}
@*Confirmation page*@
<div class="text-center">
    <h2>Thank you for your order!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>